@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';
.page-template-contact{
    #content{
        border-top: 2px solid $main_font_color;
        background: $team_text_color;
        .text{
           
            svg{
              
                 path{
                     fill: $main_font_color;
                 }
            }
        }
    }
    .head-office-address,
    .training-address{
        > p.title{
            margin-bottom: r(20);
        }
    }
    .head-office-address{
        padding-top: r(5);
    }
    .w-office-adress {
        display: flex;
        svg{
            position: relative;
            top: r(5);
        }
        .w-address{
            margin-left: r(5);
            > p{
                margin-bottom: r(12);
                &:last-child{
                    margin-bottom: unset;
                }
            }
        }
       
    }
    .contact > .w-content{
        display: grid;
        grid-template-columns: 17% 1fr 30%;
        column-gap: 5%;
    }
    .heading{
        .title{
            margin-bottom: r(50);
        }
    }
    .info{
        >.title{
            margin-bottom: r(30);
            &.fw-400{
                margin-bottom: r(12);  
            }
        }
        .text:not(a){
            margin-bottom: r(12);  
        }
        a.text{
            display: inline-block;
            margin-left: r(5);
            transition: color 0.3s;
            &:hover{
                color: $main_font_color;
                text-decoration: unset;
            }
        }
    }
    .map {
        .title{
            margin-top: r(35);
        }
        iframe{
            width: 100%;
            height: 78%;
            // max-height: 367px;
            margin-top: r(25);
        }
    }
    .w-form {
        .title {
            margin-top: r(35);
        }
        form{
            margin-top: r(25);
            .checbox{
                margin-top: r(15);
            }
        }
    }
}
@media screen and (max-width: 1024px){
    .page-template-contact{
        .contact>.w-content {
            grid-template-columns: 1fr 1fr;
            .map{
                grid-row: 2 / 3;
                grid-column: 1 / 3;
                iframe{
                    max-height: unset;
                    height: 30vw;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .page-template-contact{
        .contact>.w-content {
            grid-template-columns: 1fr;
            .map{
                grid-column: unset;
                iframe{
                    max-height: unset;
                    height: 100vw;
                }
            }
        }
    }
}
