@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';
footer {
    
    padding-top: r(45);
    padding-bottom: unset;

    .navbar-brand{
      position: relative;
      // left: -90px;
    }
    .textwidget{
      .w-adress{
        margin-bottom: r(20);
      }
    }
    .gallery {
      .gallery-item{
        width: auto !important;
        margin-left: r(10);
        &:first-child {
          margin-left: unset;
        }
      }
      img {
        border: unset !important;
      }
    } 
    .title{
      margin-bottom: r(20);
      font-weight: 400;
    }
   
    a.text{
      margin-bottom: r(17);
      display: inline-block;
    }
    .menu-item{
      margin-bottom: r(17);
    }
    a{
      &:hover{
        color:$main_font_color;
      }
      &.nav-link {
        display: block;
        padding: unset;
       
    }
    }
    #footer-widget{
      display: grid;
      grid-template-columns: repeat(5,1fr);
    }
    .copyright {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 5rem;
      margin-top: 2.5rem;
      border-top: 1px solid rgb(51,51,51);
      color: #fff;
      >a{
        padding-left: r(5);
        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
  }
  
  .copyright>.w-heart {
      display: inline-block;
      margin: 0 0.25rem;
  }
  
  .copyright .heart {
      width: 30px;
      animation: heartbeat 2s infinite;
    path{
      fill: $main_font_color;
    }
  }
  
  @keyframes heartbeat {
    0% {
        transform: scale(.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(.75);
    }

    100% {
        transform: scale(.75);
    }
  }
} 

@media screen and (max-width: 1024px){
  .f-dn{
    display: none !important;
  }
 
  #footer-widget .row div{
    &:last-child{
      padding-left: unset;
    }
  }
  footer{
    .widget_media_image{
      img{width:40%;
      position: relative;
      left:-10%;}
    }
    .phone,
    .email {
      p.text{
        font-size: 1rem;
        font-weight: 400;
      }
    }
    #footer-widget{
      grid-template-columns: repeat(3,1fr);
      row-gap: 6%;
      .w-f4{
        grid-column: 1 / 3;
      }
      #menu-menu-footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }
    }
  } 
}
  @media screen and (max-width: 768px), (max-width: 850px) and (orientation: landscape) {
    footer {
      padding-top: 4.5rem;
      a.nav-link {
        font-size: 1rem;
      }
      .widget_media_image{
        img{
        left:-8%;}
      }
  }
}
  @media screen and (max-width: 600px){
    footer {
      padding-top: 4rem;
      .w-f1{
        display:none;
      }
      #footer-widget{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        
        .w-f5{
          grid-column: 1 / 3;
          justify-self: center;
        }
        .w-f4{
          grid-column: 1 / 3;
        }
      }
      .title{
        font-weight: 600;
      }
      a.nav-link {
        font-size: 1rem;
      }
      #menu-menu-footer{
        display: block;
      }
      .copyright .heart {
        width: 20px;
      }

    }
    #footer-widget .row > div:last-child {
      padding-left: 15px;;
    }
  }
  @media screen and (max-width: 320px){
    footer  #footer-widget{
      display: block;
      #menu-menu-footer{
        display: block;
      }
    }
  }