@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';
.home{
    #content{
        margin-top: 716px;
        background-size: cover !important;
        background-position: center right !important;
    }
    .time-content{
        height: r(224);
    }
    .team {
        height: r(321);
        display: flex;
        align-items: center;
        .icon{
            margin-bottom: 0.3rem;
        }
        .text{
            margin: r(24) 0;
           
            width: 60%;
        }
    }
    .w-instagram{
        .header{
            background: $team_text_color;
            width: 100%;
            .title{
                margin-top: 0.3rem;
                font-weight: 700;
                margin-bottom: unset;
            }
            margin-bottom: unset;
            padding-bottom: r(55);
        }
    }
   .team-persons{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
      
       .item-person{
           height: 22.5vw;
           background-position: center center !important;
           background-size: cover !important;
           display: flex;
           justify-content: flex-end;
           align-items: center;
       }
       .w-info{
           width: 43.5%;
           margin-right: 8.7%;
       }
       .name {
           font-size: r(18);
           font-weight: 700;
           color: $basic_font_color;
           font-family: $ff;
       }
       .alias {
        font-size: r(13);
        font-weight: 300;
        color: $basic_font_color;
        font-family: $ff;
       }
       .text{
        font-size: r(13);
        font-weight: 300;
        color: $team_text_color;
        font-family: $ff;
       }
   }
   @media screen and (max-width: 1024px){
        #content{
            margin-top: 569px;
        }
    }
    @media screen and (max-width: 768px){
        #content{
            margin-top: 541px;
        }
        .team-persons{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .item-person {
                height: 33vw;
            }
        }
    }
}
@media screen and (max-width: 600px){
    .home {
        .team .text {
            width: 100%;
            font-size: 1rem;
            margin-bottom: r(40);
        }
        .team-persons {
            display: block;
            .item-person{
                height: 65vw;
            }
            .w-info{
                width: 50%;
            }
            .alias,
            .text{
                font-size: 1rem;
            }
        }
        .site-content {
            .w-content > .row{
                margin-right: unset;
                margin-left: unset;
            }
        }
        #content.site-content{
            padding-bottom: 4.75rem;
            padding-top: 0.125rem;
            margin-top: 600px;
        }
    }
}
@media screen and (max-width: 600px){
    .home #content.site-content {
        margin-top: 653px;
    }
}

@media screen and (max-width: 330px){
    .home {
        .team{
            height: 400px;
        }
        .time-content{
            height: 80%;
        }
        #content.site-content {
            padding-bottom: unset;
        }
        #content.site-content {
            margin-top: 675px;
        }
        
    }
    
}


@media screen and (max-width: 850px) and (orientation: landscape){
    .home #content{
        margin-top: 568px;
        &.site-content{
            padding-top: 2rem;
        }
    }
}
@media screen and (max-width: 700px) and (orientation: landscape){
.home #content {
    margin-top: 590px;
}
}
