@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.flex-align-vertical {
  display: flex;
  align-items: center;
}

.flex-align-horizontal {
  display: flex;
  justify-content: center;
}

.flex-align-vh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.site {
  position: relative;
}


body {
  background-color: $main_bg_color;
  font-family: $ff;
}

a,
span {
  font-family: 'Lato';
  color: $basic_font_color;
}
a{
  transition: all 0.3s;
  &:hover{
    text-decoration: unset;
  }
}

.w-content {
  width: 80vw;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.gold {
  color: $main_font_color;
}

.title {
  font-size: r(20);
  color: $basic_font_color;
  font-family: $ff;
  font-weight: 900;
}

h1.title {
  margin-top: 0.3rem;
}

.text {
  font-size: r(14);
  color: $basic_font_color;
  font-family: $ff;
  font-weight: 300;
}

a.gold:not(.cta) {
  color: $main_font_color;
  transition: all 0.3s;

  &:hover {
    color: $basic_font_color;
  }
}

.cta {
  width: r(129);
  height: r(45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta.gold {
  color: $main_font_color;
  border: 1px solid $main_font_color;
  transition: all 0.3s;

  &:hover {
    color: $main_bg_color;
    background: $main_font_color;
    text-decoration: unset;
  }
}

.bg-display-image {
  background-position: center !important;
  background-size: cover !important;
}

.dn {
  display: none;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fs-16 {
  font-size: r(16) !important;
}

.fs-14 {
  font-size: r(14) !important;
}

//Forms
.wpcf7 .wpcf7-form textarea {
  min-height: r(148);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: $main_font_color;
  background-color: transparent;
  border-color: $main_font_color;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: unset !important;
  outline: none;
}

input,
textarea {
  outline: none;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border: 1px solid red;
  color: red;
}

div.wpcf7-response-output {
  margin: unset;
}

::-webkit-input-placeholder {
  color: $main_font_color !important;
}

:-ms-input-placeholder {
  color: $main_font_color !important;
}

::placeholder {
  color: $main_font_color !important;
}

.wpcf7-submit.btn-primary {
  color: $main_font_color;
  background-color: transparent;
  border-color: $main_font_color;
  border-radius: unset;
  display: inline-block;
  width: 100%;

  &:hover {
    color: $main_bg_color;
    background: $main_font_color;
  }
}

.form-control[readonly="readonly"] {
  color: $basic_font_color;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
  color: red;
}

div.wpcf7-mail-sent-ok {
  border: 1px solid #398f14;
  color: #398f14;
}

[role="alert"] {
  font-family: $ff;
  font-size: .875rem !important;
  line-height: 1.2rem;
  font-weight: 300 !important;

}

.row {
  margin-left: unset;
  margin-right: unset;
}

.checbox {
  display: flex;
  margin-bottom: r(20);

  [role="alert"] {
    width: r(250);
    position: absolute;
    bottom: - r(13);
    left: 0;
  }

  .text {
    margin-left: r(10);
  }

  input {
    opacity: 0;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 17px;
    height: 17px;
    -webkit-appearance: none;
    appearance: none;

  }

  .wpcf7-list-item {
    position: relative;
    margin: unset;
    top: 2px;
  }

  .wpcf7-list-item-label {
    width: 17px;
    height: 17px;
    background: $main_bg_color;
    color: transparent;
    display: block;
    position: relative;
    z-index: 1;

    &::before {
      content: unset;
    }

    &:after {
      content: unset;
    }
  }

  input:checked+.wpcf7-list-item-label::before {
    width: 40%;
    height: 50%;
    position: absolute;
    display: block;
    content: "";
    left: 5px;
    top: 2px;
    transform: rotateZ(45deg);
    border-right: 2px solid $main_font_color;
    border-bottom: 2px solid $main_font_color;
  }
}

// Modal close
.modal {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;

}

.close {
  color: $main_font_color;

  &:hover {
    color: $basic_font_color;
  }
}

.modal-content {
  background: transparent;
  border: unset;
  max-width: r(350);
}

.modal-title {
  color: $basic_font_color;
}

.modal-header {
  border: unset;
  border-radius: unset;
}

.modal-dialog {
  height: auto;
  width: 60%;
  max-width: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border: 1px solid $main_font_color;
  margin-top: 5%;
}

.navbar-light .navbar-toggler {
  color: $main_font_color;
  border-color: $main_font_color;
}

nav.navbar {
  position: relative;
}

#sbi_images {
  padding-top: 0 !important;
}

p.text {
  margin-bottom: unset;
}

@media screen and (max-width: 1024px) {

  header .w-content {
    width: 87vw;
    margin-right: 3vw;
  }

  .navbar-collapse {
    position: fixed;
    right: 0;
    top: 0;

    ul {
      background: $main_bg_color;
      width: 35vw;
      height: 100vh;
      padding: r(30);
      padding-top: r(75);
    }
  }

  .navbar-brand {
    position: relative;
    left: - r(90);
  }
}

@media screen and (max-width: 1024px) {
  .navbar-brand {
    left: -4.625rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding-left: unset;
    padding-right: unset;
  }

  .site-content {
    .row {
      margin-right: unset;
      margin-left: unset;
    }
  }

  .text {
    font-size: 1rem;
  }

  .navbar-brand {
    left: unset;
  }

  header .w-content {
    width: 94vw;
    margin-right: 3vw;
  }

  .w-content {
    width: 90vw;

    .navbar-collapse ul {
      padding-top: r(75);
    }
  }

  .navbar-collapse ul {
    width: 100vw;
  }

  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 600px)and (orientation: landscape) {}