@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.page-template-hair-team{
    #content.site-content {
        padding-bottom: unset;
        background: $team_text_color;
        padding-top: unset;
        border-top: 2px solid #bc9355;
    }
    .heading{
        margin-bottom: r(35);
        margin-top: r(85);
    }
    
.team-content{
    margin: 3rem 0;
    >.text{
        margin-bottom: r(15);
        &:last-child{
            margin-bottom: unset;
        }
    }
}
    .w-content-hair-team{
        display: grid;
        grid-template-columns: 58% 1fr; 
        @media screen and (min-width: 1680px){
            grid-template-columns: 53% 1fr; 
        }
        column-gap: 2%;
    }
    .right-column{
        position: relative;
        padding-top: 109%;
        .bg-image{
            position: absolute;
            bottom: 0;
            left: 0;
            width:100%;
        }
    }
    .position.gold{
        margin-bottom: r(18);
    }
    .team-persons{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        .item-person{
            min-height: 28vw;
            background-position: left center !important;
            background-size: cover !important;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .w-info{
            width: 43.5%;
            margin-right: 8.7%;
            margin-top: r(40);
            margin-bottom: r(40);
            .text{
                margin-top: r(20);
            }
        }
        .name {
            font-size: r(20);
            font-weight: 600;
            color: $basic_font_color;
            font-family: $ff;
            margin-bottom: 0.4rem;
        }
        .alias {
         font-size: r(13);
         font-weight: 300;
         color: $basic_font_color;
         font-family: $ff;
         margin-bottom: 2rem;
        }
        .text{
         font-size: r(13);
         color: $team_text_color;
         font-family: $ff;
        }
    }
}

@media screen and (max-width: 1024px){
    .page-template-hair-team {
        .w-content-hair-team {
            grid-template-columns: 50% 1fr;
        }
        .heading{
            margin-top: 0;
        }
        .right-column .bg-image{
            width: 105%;
        }
        .team-persons {
            display: block;
            .item-person {
                min-height: 65vw;
            }
            .name {
                font-size: r(25);
 
            }
            .alias {
             font-size: r(17);
    
            }
            .text{
             font-size: r(17);
  
            }
        }
    }
}
@media screen and (max-width: 768px){
    .page-template-hair-team {
        .right-column .bg-image {
            width: 118%;
        }
    }
}
@media screen and (max-width: 600px),(max-width: 700px) and (orientation: landscape){
    .page-template-hair-team {
        .w-content-hair-team {
            display: block;
            position: relative;
        }
        .right-column {
            padding-top: 130px;
            position: absolute;
            top: 0;
            left: calc(100% - 150px);
            .bg-image {
                width: 130px;
                border-radius: 50%;
                border:2px solid $main_font_color;
                overflow: hidden;
                background: $main_bg_color;
               
            }
        }
        .site-content .row{
            margin-right: unset;
            margin-left: unset;
        }
        .team-persons .w-info {
            width: 90vw;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            z-index: 2;
            .name,
            .alias{
                color:$team_text_color;
            }
        }
        .item-person {
            position: relative;
            &::after{
                display: block;
                position: absolute;
                content:"";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255,255,255,0.7);
                z-index: 1;
            }
        }
    }
}
