@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';
header {
  position: relative;
  z-index: 2;

  .navbar {
    margin-top: r(23);
    position: relative;
    left: -72px;
    
    #main-nav{
      span.close{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        @media screen and (max-width: 768px){
          right: 2rem;
        }
        @media screen and (max-width: 600px){
          right: 1.4rem;
        }
        @media screen and (max-width: 380px){
          right: 1.3rem;
        }
        @media screen and (max-width: 380px){
          right: 1.2rem;
        }
        &:after,
        &::before{
        width:14px;
        height: 2px;
        display: block;
        background: $main_font_color;
        content: "";
        position: absolute;
        }
        &:after{
          transform: rotateZ(45deg);
        }
        &::before{
          transform: rotateZ(-45deg);
        }
      }
    }
  }
  @media screen and (max-width: 1024px){
    .navbar{
      left: unset;
    }
  }
}
body:not(.home) header .navbar {
  margin-bottom: r(23);
}
.home {
  .w-section-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    .top {
      position: relative;
      height: r(440);

      .w-name-page {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 25px;
        letter-spacing: 3px;
        color: $main_font_color;
        font-family: "Lato";
        font-weight: 900;
        position: relative;
        top: 18px;
      }

      .title-page {
        width: 21.6rem;
        height: r(255);
        font-size: r(25);
        color: $basic_font_color;
        font-family: "Lato";
        justify-content: flex-end;
        position: relative;
        z-index: 2;

        >img {
          position: absolute;
          right: 0;
          
        }
      }

      picture {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .bg-image {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100vw;

      .w-content {
        display: flex;
        justify-content: flex-end;
      }
      @media screen and (max-width: 1024px){
        picture{
          width: 50%;
        }
      }

    }

    .workplace {
      height: 25vw;
      max-height: 363px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $basic_font_color;

      p:nth-of-type(1) {
        font-size: r(20);
        font-family: $ff;
        font-weight: 900;

      }
      .icon{
        margin-bottom: 0.3rem;
      }
    }

    .work-position {
      color: $main_font_color;
      font-size: r(14);
      font-weight: 300;
    }

    .text {
      margin-top: 1.5rem;
      max-width: 50%;
      font-size: r(14);
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 600px), (max-width:700px) and (orientation: landscape){
  .home .w-section-top {
    .bg-image {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      border:2px solid $main_font_color;
      overflow: hidden;
      background: $main_bg_color;
      position: absolute;
      left: calc(100% - 150px);
      top: calc(100% - 81vw);
     .w-content{
       width: 100%;
       height: 100%;
     }
     picture{
       width: unset;
     }
  }
    .text{
      max-width: 100%;
      font-size: 1rem;
    }
    .work-position{
      font-size: 1rem;
    }
  }

}
@media screen and (max-width:330px){
  .home .w-section-top .top .title-page{
    width: 95%;
    justify-content: center;
    > img {
      width: 100px;
    }
    .w-name-page{
      justify-content: flex-start;
      img{
          width: 260px;
      }
    }
  }
  .home .w-section-top {
    .bg-image {
      width: 100px;
      height: 100px;
      left: calc(100% - 120px);
      top: calc(100% - 106vw) !important;
  }
}
}
@media screen and (max-width: 700px) and (orientation:landscape){
  .home {
    .w-section-top {
      .text{
        max-width: 100%;
      }
      .bg-image{
        top: calc(100% - 47vw);
      }
    }
  }
  .home .w-section-top .workplace {
    height: 50vw !important;
  }
  .page-template-trainers .w-section-top .workplace {
    height: 45vw;
  }  
}
@media screen and (max-width: 600px) and (orientation:landscape){
  .home .w-section-top {
    .workplace{
      height: 60vw !important;
    }
    .bg-image{
      top: calc(100% - 57vw);
    }
  }
}
