@import './variables.scss';
@import './functions.scss';

.page-template-models{
    footer{
        .gallery{
            display:block;
        }
    }
    span.wpcf7-not-valid-tip {
        position: absolute;
    bottom: -40px;
    width: 22rem;
    }
    #content{
        border-top: 2px solid $main_font_color;
        background: $trainer_bg_color;
    }
    .w-a-filile{
        display: flex;
        justify-content: space-between;
        margin-top: r(15);
    }
    .w-file{
        background: $main_font_color url('../../../images/add-file.png') no-repeat;
        background-position: 10px center !important;
        cursor:pointer;
        width: calc(50% - 5px);
        height: r(35);
        display: inline-block;
       position: relative;
       label{
           position: absolute;
           top: 0;
           right: 0;
           width: 80%;
           height: 100%;
           z-index: 10;
           margin-bottom: unset;
           display: flex;
           align-items: center;
           margin-right: r(5);
           overflow: hidden;
           cursor: pointer;
       }
    }
    input[type="file"] {
       display: none;
    }
    .form {
        padding-top: r(18);
        .title{
            margin-bottom: r(24);
        }
        .checbox{
            margin-top: r(45);
          }
    }
    .w-columns{
        display: grid;
        grid-template-columns: 1fr 33.7%;
        column-gap: 10%;
    }
    h1.title {
        margin-top: 0.3rem;
        margin-bottom: r(47);
    }
    .text.fw-400 {
        margin-bottom: r(19);
    }
    .w-content-models {
        margin-bottom: r(64);
    }
    .w-gallery {
        .header{
           text-align: center;
        }
        .title{
            margin-top: 0.3rem;
            margin-bottom: r(33);
        }
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        column-gap: r(6);
    }
   .item-gallery {
       padding-top: 100%;
   }

}

@media screen and (max-width: 768px), (max-width: 850px) and (orientation:landscape){
    .page-template-models{
        .w-columns{
            // display: block;
            column-gap: 2%;
            grid-template-columns: 1fr 1fr;
        }
        .w-file{
            // max-width: 15rem;
            label{
                padding-left: 5px;
                overflow: hidden;
            }
        }
        .gallery{
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 1rem;
            column-gap: 1rem;
        }
    }
}
@media screen and (max-width: 600px), (max-width: 700px) and (orientation: landscape){
    .page-template-models{
        .w-columns{
         display: block;
           
        }
        .gallery{
            grid-template-columns: 1fr;
            row-gap: 1rem;
        }
    }
}
@media screen and (max-width:330px), (max-width: 600px) and (orientation: landscape){
    .page-template-models{
         .w-file label {
            padding-left: 8px;
        }
    }
}
@media screen and (max-width: 700px) and (orientation: landscape){
    .page-template-models{
        .gallery{
            grid-template-columns: 1fr 1fr;
            row-gap: 1rem;
            column-gap: 1rem;
        }
         .w-file label {
            padding-left: 8px;
        }
    }
}