@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.page-template-partners{
    #content.site-content {
        background: $team_text_color;
        border-top: 2px solid #bc9355;
    }
    .heading{
        .title{
            margin-top: 0.3rem;
        }
        margin-bottom: r(25);
    }
    .content-parners {
        font-size: r(14);
        color: $basic_font_color;
        font-family: $ff;
        font-weight: 300;
        margin-bottom: r(60);
    }
    .w-brands {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 2%;
        row-gap: 2%;
        margin-bottom: r(56);
    }
    .item-brand{
        background-position: center !important;
        padding-top: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: opacity 0.3s;
        &:hover{
            opacity:0.8;
        }
    }
    .w-cooperation {
        display: flex;
        align-items: center;
        padding: r(30) r(50) r(30) r(20);
        background: $main_bg_color;
        .title{
            margin-bottom: r(20);
        }
    }
    .cooperation{
        padding-right: r(50);
    }
}

@media screen and (max-width: 1024px){
    .page-template-partners{
        .w-brands{
            grid-template-columns: repeat(4, 1fr);
        }
        .cta.gold {
            width: 15rem;
        }
    }
}

@media screen and (max-width: 768px){
    .page-template-partners{
        
        .cta.gold {
            width: 20rem;
        }
        .w-cooperation{
            padding: 1.875rem 1.25rem 1.875rem 1.25rem;
        }
    }
}

@media screen and (max-width: 600px), (max-width:700px) and (orientation:landscape){
    .page-template-partners{
        .w-brands{
            grid-template-columns: repeat(2, 1fr);
        }
        .w-cooperation {
            flex-direction: column;
        }
        .cooperation{
            padding-right: unset;
            margin-bottom: 1.6rem;
        }
        .content-parners{
font-size: 1rem;
        }
    }
}
@media screen and (max-width: 330px){
    .page-template-partners{
        .item-brand{
            background-size: 65% !important;
        }
    }
}
@media screen and  (max-width:850px) and (orientation:landscape){
    .page-template-partners{
        .w-brands{
            grid-template-columns: repeat(3, 1fr);
        }
       
    }
}
