@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.single-post {

     form input:not([type="submit"]),
      form textarea {
        font-size: 12px !important;
        font-weight: 300 !important;
    }
  p.cta {
    cursor: pointer;
  }

  .title {
    margin-top: r(25);
  }

  #content.site-content {
    background: $team_text_color;
  }

  .gold.text {
    color: $main_font_color;
  }

  .after-main-icon {
    display: flex;
    justify-content: space-between;
  }

  .right-column {
    display: flex;
    align-items: flex-end;

    .w-cta {
      margin-left: r(17);
    }

    .cta {
      margin-bottom: unset;
    }

    .price {
      margin-bottom: r(4);
      font-size: r(24);
      font-weight: 900;

      .gold {
        font-size: r(10);
        font-weight: 300;
      }
    }
  }

  .heading {
    .icon {
      margin-bottom: r(10);
    }

    .title {
      margin-top: 0.9375rem;
      margin-bottom: unset;
    }
  }

  .w-post {
    margin-top: r(20);
  }

  .section-encourage {
    background: $main_bg_color;
    padding: r(30) r(45);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: r(54);
.left-colum{
    .title{
        margin-top: unset;
    }
}
    .right-column {
      display: flex;
      flex-direction: column;
    }
  }

  .trainer-icons {
    margin-top: r(54);

    .w-icons {
      display: flex;
    }

    .icon {
      width: 56px;
      height: 56px;
      margin-left: r(10);
      background-position: center !important;
      background-size: cover !important;
      margin-bottom: unset;
      border-radius: 50%;
      border: 2px solid $main_font_color;

      &:first-child {
        margin-left: unset;
      }
    }
  }

  .w-gallery {
    margin-top: r(54);

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        margin-top: 0.3rem;
        margin-bottom: r(30);
      }
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        column-gap: r(6);
      }
       .item-gallery{
           padding-top: 100%;
       }
  }
}

@media screen and (max-width: 768px){
    .single-post {
        .w-gallery .gallery{
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 1rem;
            column-gap: 1rem;
        }
    }
}

@media screen and (max-width: 600px), (max-width: 700px) and (orientation: landscape){
    .single-post{
        .section-encourage {
            display: block;
            .right-column{
                flex-direction: unset;
                margin-top: r(30);
                justify-content: center;
            }
        }
        .w-gallery .gallery{
            grid-template-columns: 1fr 1fr;
            row-gap: 1rem;
            column-gap: 1rem;
        }
    }
}
@media screen and (max-width: 330px){
    .single-post{
        .section-encourage {
            background: $main_bg_color;
            padding: r(30) r(25);
        }
        .after-main-icon {
            display: block;
            .right-column{
                flex-direction: unset;
                margin-top: r(20);
                justify-content: center;
            }
        }
    }
}
