@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';
.home{
    .w-salons{
        background: $team_text_color;
        padding: r(41) 0 r(51) 0;
        .salons-content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: r(20);
        }
        .item-salons{
            background: $main_bg_color;
            padding:r(30) r(17);
            .gold{
                color: $main_font_color;
               margin-bottom: r(30);
               font-weight: 400;
              
            }
        }
        .maps{
            position: relative;
            padding-top: 49%;
            margin-bottom: r(30);
        }
        iframe{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .title,
        .text{
            text-align: center;
        }
        a.text {
            display: inline-block;
            width: 100%;
        }
        .text{
            font-weight: 400;
            color:rgba(255,255,255,0.7);
        }
        p:not(.text):not(.title){
            color: $basic_font_color;
            text-align: center;
        }
        .w-text{
            margin-bottom: r(20);
            &:last-child{
                margin-bottom: unset;
            }
            a:hover{
                text-decoration: unset;
                color: $main_font_color;
            }
            *{
                line-height: r(16);
                font-size: r(14);
            }
        }
    }
}
.page-template-salons {
    #content{
        background: $team_text_color;
        border-top: 2px solid $main_font_color;
        padding-top: r(42);
    }
    .header{
        margin-bottom: r(60);
        .title{
            margin-top: 0.3rem;
        }
    }
    .w-salons{
        padding: r(41) 0 r(51) 0;
       
        .item-salons{
            background: $main_bg_color;
            padding:r(48);
            display: grid;
            grid-template-columns: 28% 1fr;
            margin-bottom: r(30);
            .gold{
                color: $main_font_color;
               margin-bottom: r(30);
               font-weight: 400;
              
            }
        }
        .maps{
            position: relative;
            padding-top: 29%;
          
        }
        iframe{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .title,
        .text{
            text-align: left;
        }
        a.text {
            display: inline-block;
            width: 100%;
        }
        .text{
            font-weight: 400;
            color:rgba(255,255,255,0.7);
        }
        p:not(.text):not(.title){
            color: $basic_font_color;
            text-align: left;
        }
        .w-text{
            margin-bottom: r(20);
            &:last-child{
                margin-bottom: unset;
            }
            a:hover{
                text-decoration: unset;
                color: $main_font_color;
            }
            *{
                line-height: r(16);
                font-size: r(14);
            }
        }
    }
}
@media screen and (max-width: 768px){
    .home,
    .page-template-salons{
        .w-salons{
            .salons-content {
                display: block;
            }
            .item-salons {
                margin-bottom: r(30);
                &:last-child{
                    margin-bottom: unset;
                }
            }
        }
    }
    .page-template-salons{
        .w-salons{
            .item-salons{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .home,
    .page-template-salons{
        .w-salons{
            .w-text * {
                line-height: 1.5rem;
                font-size: 1rem;
            }
        }
    }
    .page-template-salons{
        .w-salons{
            .item-salons{
                padding: 2rem 1rem;
               display: block;
            }
            .maps{
                padding-top: 100%;
                margin-top: 1.25rem;
            }
        }
    }
}