@import './fonts.scss';
@import './variables.scss';
@import './functions.scss';

.home,
.page-template-trainers {
  .training {
    width: 100%;
    max-width: 1183px;
    margin-left: auto;
    margin-right: auto;
    margin-top: r(60);
    margin-bottom: r(65);

    >.w-cta {
      display: flex;
      justify-content: center;
      margin-top: r(40);
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: r(50);

    >p {
      color: rgba(255, 255, 255, 0.8);
      font-weight: 300;
      text-align: center;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: r(20);
      margin-bottom: r(20);

      span:first-child {
        font-size: r(20);
        font-weight: 700;
      }

      span:last-child {
        font-size: r(14);
        font-weight: 400;
      }
    }
  }

  .item-training {
    display: grid;
    grid-template-columns: 14.37% 19.1% 1fr 15.2%;
    grid-template-rows: r(78);
    background: $trainer_bg_color;
    margin-top: r(20);
    .cta,
    .icon{
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: unset;
    }

    .icon {
      align-self: center;
      justify-self: center;
      width: r(56);
      height: r(56);
      border-radius: 50%;
      border: 2px solid $main_font_color;
      background-position: center center !important;
      &.transparent-border{
        border-color: transparent;
      }
    }

    .upcoming-training {
      align-self: center;

      >* {
        font-size: r(12);
        line-height: r(18);
        color: $basic_font_color;
        font-family: $ff;
        font-weight: 300;
        margin-top: r(5);

        &:first-child {
          margin-top: unset;
        }
      }

      svg path {
        fill: $main_font_color;
      }

    }

    .date,
    .address {
      span {
        margin-left: r(5);
      }
    }

    .info-training,
    .w-cta {
      align-self: center;
    }

    .w-cta {
      justify-self: center;
    }

    .info-training {
      .title {
        font-size: r(16);
        margin-bottom: 0.3rem;
      }

      .text {
        font-size: r(12);
        color: #9b9897;
      }
    }

    .cta {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $main_font_color;
      width: r(130);
      height: r(45);

      &:hover {
        text-decoration: unset;
        
      }
    }

  }
}

.page-template-trainers {
  .checbox{
    margin-top: r(20);
  }
  .form-control {
    border: unset;
  }
  form{
    [name="Kurs"],
    [name="Datakursu"]{
      color: $basic_font_color;
    }
    input:not([type="submit"]),
    textarea{
      font-size: 12px !important;
      font-weight: 300 !important;
    }
  }
  .checbox .wpcf7-list-item-label,
  .form-control:not(.wpcf7-checkbox) {
    background-color: $team_text_color;
}
  #content {
    border-top: 2px solid $main_font_color;
  }

  .training {
    margin-top: r(84);
  }

  .site-trainers>.header {
    margin-left: unset;
    margin-right: unset;
    margin-bottom: r(70);
    width: 100%;
    display: block;

    .icon {
      width: 150px;
      height: 25px;
      margin-bottom: 0.3rem;
    }

    .title {
      display: block;
      margin-top: unset;
    }

    .text {
      text-align: left;
    }
  }

  .description-goals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: r(200);
    column-gap: 5.9%;

    >div {
      border: 1px solid $main_font_color;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      >* {
        width: 80%;
      }

      .title,
      .text {
        text-align: center;
      }

      .title {
        margin-bottom: r(10);
      }
    }
  }

  .header {
    margin-bottom: r(25);
  }

  .w-items {
    margin-bottom: r(28);

    &:last-child {
      margin-bottom: unset;
    }
  }

  .header-table {
    display: grid;
    grid-template-columns: 19.1% 1fr;
    grid-template-rows: r(78);
    background: $main_bg_color;

    .info-training {
      align-self: center;

      .title {
        font-size: r(16);
        margin-bottom: 0.3rem;
      }

      .text {
        font-size: r(12);
        color: #9b9897;
      }
    }

    .upcoming-training {
      align-self: center;
      margin-left: r(27);

      >* {
        font-size: r(12);
        line-height: r(18);
        color: $basic_font_color;
        font-family: $ff;
        font-weight: 300;
        margin-top: r(5);

        &:first-child {
          margin-top: unset;
        }
      }

      svg path {
        fill: $main_font_color;
      }
    }

    .date,
    .address {
      span {
        margin-left: r(5);
      }
    }
  }

  .w-table {
    .item-training {
      border: 1px solid $main_font_color;
      border-bottom: unset;
      a.title:hover{
        color:$main_font_color;
        text-decoration: none;
      }
      .w-cta{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .cta {
        font-weight: 600;
        cursor: pointer;
        height: r(35);

      }

      .cta:hover {
        text-decoration: unset;
        background: $main_font_color;
        color: $main_bg_color;
      }
      
      a.details{
        color: $basic_font_color;
        transition: color 0.3s;
      }
      a.details:hover{
        text-decoration: unset;
        color: $main_font_color;
      }
      &:last-child {
        border-bottom: 1px solid $main_font_color;
      }

      margin-top: unset;
    }
    .details{
      padding-top: 2px;
      font-size: 12px;
    }
  }

  #content.site-content {
    background: $trainer_bg_color;
    padding-top: r(90);
  }
}

@media screen and (max-width: 1024px){
  .home,
  .page-template-trainers{
    .item-training {
      grid-template-columns: 13% 19.1% 1fr 15.2%;
    }
  }
  .page-template-trainers{
    .description-goals {
      grid-template-rows: 17.5rem;
      column-gap: 3%;
    }
    .header-table {
      grid-template-columns: 23.1% 1fr;
      grid-template-rows: 6rem;
    }
    .item-training{
      grid-template-rows: 6rem;
      
    }
  }
}
@media screen and (max-width: 768px), (max-width: 850px) and (orientation: landscape){
  .home,
  .page-template-trainers{
    .w-section-top .workplace {
      height: 35vw;
    }
    .item-training {
      grid-template-columns: 13% 1fr;
      grid-template-rows: repeat(3, auto);
      padding: r(20) 0;
      row-gap: r(20);
      .w-cta {
        position: relative;
        left: - 30px;
      }
      .icon {
        grid-row: 1 / 4;
        align-self: flex-start;
      }
  }

  }
  .page-template-trainers{
    .header-table {
      grid-template-columns: 33% 1fr;
    
    }
    .w-table{
      .item-training{
        margin-bottom: 20px;
        border-bottom: 1px solid #bc9355;
      }
    }
  }
}
@media screen and (max-width: 600px){
  .home .w-section-top .workplace{
      height: 85vw;
  } 
  
  .home .header .title span:last-child, 
  .page-template-trainers {
.site-content{
  .row{
    margin-right: unset;
    margin-left: unset;
  }
}
    .description-goals{
      display: block;
      
      >div{
        padding: 2rem 0;
        margin-bottom: 2rem;
      &:last-child{
        margin-bottom: unset;
      }
      }
    }
    .header .title span:last-child{
      font-size: 1rem;
    }
  }
  .home .w-section-top {
    .text{
      max-width: 100%;
    }
  }
  .home .training, 
  .page-template-trainers .training { 
    .item-training{
      grid-template-columns: 60px 1fr;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      .upcoming-training>*,
      .text{
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    .header{
      >p{
        font-size: 1rem;
      }
    }
  }
  .page-template-trainers {
    .modal-dialog {
      height: 100%;
    width: 100%;
    border: unset;
    }
    .header-table {
      display: block;
      padding: 2rem 0;
      .info-training{
        margin-left: 1.6875rem;
        margin-top: 1rem;
        .title{
          font-size: 1.25rem;
        }
        .text{
          font-size: 1rem;
        }
      }
      .upcoming-training>*{
        font-size: 1rem;
      }
    }
  }
}
@media screen and (max-width: 380px){
  .home {
    .w-section-top .workplace {
      height: 96vw;
    }
    .w-section-top .bg-image{
      top: calc(100% - 92vw);
    }
  }
  .page-template-trainers .w-section-top .workplace {
    height: 77vw;
  }
}
@media screen and (max-width: 330px){
  .home .w-section-top .workplace {
    height: 120vw;
    .icon{
      margin-top: 2rem;
    }
  } 
  .page-template-trainers .header {
    width: 100%;
}
 
}
@media screen and (max-width: 850px) and (orientation:landscape){
  .home .w-section-top .workplace{
    height: 40vw;
  }
  .page-template-trainers .modal-dialog {
    height: auto;
  }
}
@media screen and (max-width: 700px) and (orientation:landscape){
  
  .home{
    .team .text {
      width: 100%;
    }
  }
}
